html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #00898b;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: white;
  height: 100%; }

h1, h2, h3 {
  font-size: 1.1em;
  margin: 0; }

ol, header, .media {
  background-color: #00a7aa; }

a {
  color: #fff; }

ol.view-feed {
  overflow-y: scroll;
  margin: 0;
  padding: 0.5em 0; }

.now-playing {
  position: fixed;
  bottom: 0;
  padding: 1em;
  width: 100%;
  background: #00a7aa; }

.search-form {
  background: #00a7aa;
  padding: 1em;
  justify-content: center;
  display: flex;
  position: relative; }
  .search-form input, .search-form button, .search-form select {
    border: none;
    height: 40px;
    padding: 0 10px;
    font-size: 1.1em; }
  .search-form input {
    min-width: 500px; }
  .search-form .up-down-arrows {
    font-size: 2em; }
  .search-form .search-type-select {
    width: 50px;
    background: none;
    color: transparent;
    outline: none;
    -webkit-appearance: none; }
    .search-form .search-type-select option {
      color: black; }
  .search-form .results-container {
    width: 100%;
    top: 72px;
    left: 0;
    z-index: 20;
    position: absolute; }
    .search-form .results-container .results-list {
      margin: 0 auto;
      width: 550px;
      max-height: 60vh;
      padding: 0.5em;
      overflow-y: scroll;
      background: #00a7aa;
      list-style-type: none; }
      .search-form .results-container .results-list li {
        padding: 0.5em; }
        .search-form .results-container .results-list li .video-thumbnail {
          height: 50px;
          vertical-align: top;
          margin-right: 1em; }
        .search-form .results-container .results-list li .details {
          display: inline-block;
          width: 450px; }
          .search-form .results-container .results-list li .details .name {
            font-weight: bold; }
          .search-form .results-container .results-list li .details .name, .search-form .results-container .results-list li .details .author {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 400px; }
        .search-form .results-container .results-list li.selected {
          background: #00898b; }
      .search-form .results-container .results-list li:not(:first-child) {
        margin-top: 0.5em; }
  .search-form .match-spotify, .search-form .match-youtube, .search-form .match-soundcloud {
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px;
    padding-left: 40px; }
  .search-form .match-spotify {
    background-image: url(../img/spotify.png); }
  .search-form .match-youtube {
    background-image: url(../img/youtube.png); }
  .search-form .match-soundcloud {
    background-image: url(../img/soundcloud.png); }

section {
  margin: 10px 0;
  padding: 10px; }

.admin {
  display: none !important; }

.media {
  align-items: center;
  display: flex;
  padding: 5px 5px; }
  .media:last-child {
    margin: 0; }
  .media.selected {
    outline: 2px solid white; }
    .media.selected .image img {
      max-height: 139px;
      max-width: 185px; }
    .media.selected .info p {
      display: block; }
    .media.selected .vote-arrow {
      display: block; }
  .media .image {
    margin-right: 20px;
    text-align: center; }
    .media .image a {
      width: 185px;
      display: block; }
    .media .image img {
      max-height: 70px;
      max-width: 90px;
      cursor: pointer; }
  .media .info {
    flex: 1; }
    .media .info p {
      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      font-size: 0.8em; }

.rank {
  position: relative;
  width: 30px; }
  .rank span {
    position: absolute;
    height: 20px;
    margin: auto;
    bottom: 0;
    top: 0; }

.vote-arrow {
  display: none; }

.vote {
  min-width: 50px;
  text-align: center;
  flex-direction: column;
  display: flex;
  -webkit-touch-callout: none;
  user-select: none; }
  .vote span {
    flex: 1; }

.upvote, .downvote {
  cursor: pointer; }

.upvoted .upvote {
  color: orange; }

.downvoted .downvote {
  color: #4444FF; }

@media all and (max-width: 720px) {
  .media .image {
    display: none; } }
.x-button {
  display: none; }

.admin .x-button {
  font-weight: bolder;
  position: absolute;
  cursor: pointer;
  color: red;
  right: 10px;
  top: 10px;
  -webkit-touch-callout: none;
  user-select: none; }
  .admin .x-button:hover {
    color: white; }

*::selection {
  color: #fff;
  text-shadow: none;
  background-color: #002224;
  /* Safari */ }

*::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: #002224;
  /* Firefox */ }

/*# sourceMappingURL=style.css.map */
