body {
  background-color: #00898b;
  font: 1em Helvetica;
  color: white; }

h1, h2, h3 {
  font: 1.1em Ubuntu;
  margin: 0; }

ol, header, .media {
  background-color: #00a7aa; }

now-playing {
  display: block;
  margin: 5px;
  padding: 5px; }

p {
  font-size: 0.8em; }

a {
  color: #fff; }

ol {
  margin: 0;
  padding: 0; }

header {
  margin: 10px 0;
  padding: 40px; }

search {
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: flex; }

search input, search button {
  border: none;
  height: 40px;
  padding: 0 10px;
  font: 1.1em Ubuntu, Helvetica; }
search button {
  color: white; }
search input {
  min-width: 300px; }

section {
  margin: 10px 0;
  padding: 10px; }

.admin {
  display: none !important; }

.media {
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  padding: 5px 5px 15px; }
  .media:last-child {
    margin: 0; }
  .media .vote .upvote, .media .vote .downvote {
    display: none; }
  .media.selected {
    padding: 5px;
    margin: 0 0 10px;
    outline: 2px solid white; }
    .media.selected .vote .upvote, .media.selected .vote .downvote {
      display: inline; }
    .media.selected .image {
      display: block; }
    .media.selected .info p {
      display: block; }
  .media .info p {
    display: none; }
  .media .image {
    cursor: pointer;
    margin-right: 20px;
    display: none;
    text-align: center; }
  .media .image a {
    width: 185px;
    display: block;
  }
  .media .image img {
    max-height: 139px;
    max-width: 185px;
    cursor: pointer;
  }
  .media .info {
    -webkit-flex: 1;
    flex: 1; }

.rank {
  position: relative;
  width: 30px; }
  .rank span {
    position: absolute;
    height: 20px;
    margin: auto;
    bottom: 0;
    top: 0; }

.vote {
  min-width: 50px;
  text-align: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  display: -webkit-flex;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .vote span {
    -webkit-flex: 1;
    flex: 1; }

.upvote, .downvote {
  cursor: pointer; }

.upvoted .upvote {
  color: orange; }

.downvoted .downvote {
  color: #4444FF; }

@media all and (max-width: 720px) {
  .media .image {
    display: none !important; }
  .media .info p {
    display: none !important; } }

.x-button {
  font-weight: bolder;
  cursor: pointer;
  color: red;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .x-button:hover {
    cursor: pointer;
    color: white; }

*::selection {
  color: #fff;
  text-shadow: none;
  background-color: #002224;
  /* Safari */ }

*::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: #002224;
  /* Firefox */ }

.animate-if.ng-leave, .animate-if.ng-enter {
   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.animate-if.ng-leave, .animate-if.ng-leave-active {
  opacity: 0;
}
.animate-if.ng-enter, .animate-if.ng-leave-active {
  opacity: 1;
}

.alert-danger {
  display: block;
  padding: 30px 50px;
  background-color: #063E3E;
  margin: 10px 0;
  position: relative;
}
.alert-danger:before {
  content: "!";
  position: absolute;
  vertical-align: middle;
  left: 20px;
  top: 12px;
  font-size: 3em;
  opacity: 0.2;
}

.match-spotify, .match-youtube, .match-soundcloud {
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 25px;
  padding-left: 40px;
}
.match-spotify { background-image: url(../img/spotify.png); }
.match-youtube { background-image: url(../img/youtube.png); }
.match-soundcloud { background-image: url(../img/soundcloud.png); }


.dropdown-menu div {
  display: inline-block;
}