#!/usr/bin/env bash

export PORT="8888"
export CORS_HOST="http://app.playit.se:8080"

export DATABASE="playit"
export DATABASE_HOST="127.0.0.1"
export DATABASE_USER="playit"
export DATABASE_PASS=

export SOUNDCLOUD_ID=
export YOUTUBE_KEY=

export CREATE_TABLES="true"
export DEBUG="true"
export SERVER="true"

