[Desktop Entry]
Version=1.0
Type=Application
Name=playIT Playback Client
Exec=bash -c "~/start_playit.sh"
Icon=utilities-terminal
Categories=Application;
Terminal=true
StartupNotify=true
Name[en_GB]=playit_playback.desktop
