<ol>
	<li class="media {{item.type}}" ng-repeat="item in mediaitems | orderBy:['-value', 'id']" ng-click="select($index)" ng-class="{'selected': $index == selected}">
		<div class="vote" ng-class="{upvoted: check_voted(item.id), downvoted: false === check_voted(item.id)}">
			<span class="upvote" ng-click="upvote_item(this, item)">⬆</span>
			<span class="rating">{{item.value}}</span>
			<span class="downvote" ng-click="downvote_item(this, item)">⬇</span>
		</div>
		<div class="image">
			<a href="{{get_link(item)}}" target="_blank"><img ng-src="{{item.thumbnail}}" alt="{{item.external_id}}"></a>
		</div>
		<div class="info">
			<h3>{{item.title}} [{{time_format(item.duration)}}]</h3>
			<small>Added by: <span title="{{item.cid}}">{{item.nick}}</span></small>
			<p>
				<em>{{item.author}}</em><br>
				<strong>{{item.description}}</strong>
			</p>
		</div>
		<a ng-if="user_owns(item)" class="x-button" ng-click="delete_item(this, item)">ⓧ</a>
	</li>
	<li class="media" ng-hide="mediaitems.length">
		<div class="vote"></div>
		<div class="image"></div>
		<div class="info">
			<h3>No items in queue</h3>
		</div>
	</li>

	<div style="padding-top: 20px">
		<h2>Playlists:</h2>
	</div>

	<li class="media {{item.type}}" ng-repeat="item in playlistitems" ng-click="select($index)">
		<div class="vote" ng-class="{upvoted: check_voted(item.id), downvoted: false === check_voted(item.id)}">
			<span class="upvote" ng-click="upvote_item(this, item)">⬆</span>
			<span class="rating">{{item.value}}</span>
			<span class="downvote" ng-click="downvote_item(this, item)">⬇</span>
		</div>
		<div class="image">
			<a href="{{get_link(item)}}" target="_blank"><img ng-src="{{item.thumbnail}}" alt="{{item.external_id}}"></a>
		</div>
		<div class="info">
			<h3>{{item.title}} [{{time_format(item.duration)}}]</h3>
			<small>Added by: <span title="{{item.cid}}">{{item.nick}}</span></small>
			<p>
				<em>{{item.author}}</em><br>
				<strong>{{item.description}}</strong>
			</p>
		</div>
		<a ng-if="user_owns(item)" class="x-button" ng-click="delete_item(this, item)">ⓧ</a>
	</li>
</ol>